*.md
.git
**/node_modules
**/packages/backend/dist
**/packages/frontend-bo/dist
**/packages/frontend-usagers/dist
**/Dockerfile
**/.nuxt
**/.output
Dockerfile
docker-compose.yml
.dockerignore
.github
.kontinuous
.env
.husky
