.env
node_modules
.vscode/*
!.vscode/tasks.json
!.vscode/settings.json
.prettierrc
.eslintcache
.local
.cache

coverage
notes.txt

.anonymizer

playwright-report/
test-results/
.pnpm-store

# macOS
.DS_Store
