version: '3.4'

volumes:
  postgres-data:

services:
  frontend-usagers:
    build:
      context: packages/frontend-usagers
      dockerfile: Dockerfile.local
    working_dir: /app
    command: /app/entrypoint.sh
    volumes:
      - $PWD/packages/frontend-usagers:/app:delegated
      - $HOME/.ssh:/home/node/.ssh:ro
      - $HOME/.gitconfig:/home/node/.gitconfig:ro
      - $HOME/.npm:/home/node/.npm:delegated
    env_file:
      - ./.env
    environment:
      DEBUG: info:vao*, debug:vao*
      NUXT_PUBLIC_BACKEND_URL: ${BACKEND_URL}
      NUXT_PUBLIC_ENVIRONMENT: local
      NUXT_PUBLIC_MATOMO_ENABLED: ${FRONTEND_USAGERS_MATOMO_ENABLED}
      NUXT_PUBLIC_MATOMO_HOST: ${FRONTEND_USAGERS_MATOMO_HOST}
      NUXT_PUBLIC_MATOMO_SITE_ID: ${FRONTEND_USAGERS_MATOMO_SITE_ID}
      NUXT_PUBLIC_SENTRY_DSN: ${FRONTEND_USAGERS_SENTRY_DSN}
      NUXT_PUBLIC_SENTRY_ENABLED: ${FRONTEND_USAGERS_SENTRY_ENABLED}
      TZ: Europe/Paris
    ports:
      - 3000:3000

  frontend-bo:
    build:
      context: packages/frontend-bo
      dockerfile: Dockerfile.local
    working_dir: /app
    command: /app/entrypoint.sh
    volumes:
      - $PWD/packages/frontend-bo:/app:delegated
      - $HOME/.ssh:/home/node/.ssh:ro
      - $HOME/.gitconfig:/home/node/.gitconfig:ro
      - $HOME/.npm:/home/node/.npm:delegated
    env_file:
      - ./.env
    environment:
      NUXT_PUBLIC_MATOMO_ENABLED: ${FRONTEND_BO_MATOMO_ENABLED}
      NUXT_PUBLIC_MATOMO_HOST: ${FRONTEND_BO_MATOMO_HOST}
      NUXT_PUBLIC_MATOMO_SITE_ID: ${FRONTEND_BO_MATOMO_SITE_ID}
      NUXT_PUBLIC_SENTRY_DSN: ${FRONTEND_BO_SENTRY_DSN}
      NUXT_PUBLIC_SENTRY_ENABLED: ${FRONTEND_BO_SENTRY_ENABLED}
      NUXT_PUBLIC_BACKEND_URL: ${BACKEND_URL}
      NUXT_PUBLIC_ENVIRONMENT: local
      TZ: Europe/Paris
      DEBUG: info:vao*
    ports:
      - 3001:3000

  backend:
    build:
      context: packages/backend
      dockerfile: Dockerfile.local
    working_dir: /app
    command: /app/entrypoint.sh
    volumes:
      - $PWD/packages/backend:/app:delegated
      - $HOME/.ssh:/home/node/.ssh:ro
      - $HOME/.gitconfig:/home/node/.gitconfig:ro
      - $HOME/.npm:/home/node/.npm:delegated
    depends_on:
      - postgres
    env_file:
      - ./.env
    environment:
      DEBUG: "*info*"
      SENTRY_DSN: ${BACKEND_SENTRY_DSN}
      SENTRY_ENVIRONMENT: local
      SENTRY_ENABLED: ${BACKEND_SENTRY_ENABLED}
      TMP_DIRECTORY: ${BACKEND_TMP_DIRECTORY}
      TZ: Europe/Paris
    ports:
      - 3010:3000

  postgres:
    image: postgres:15.1
    restart: always
    environment:
      - PGTZ=Europe/Paris
      - TZ=Europe/Paris
      - NODE_ENV=development
      - POSTGRES_PASSWORD=postgres
    env_file:
      - ./.env
    ports:
      - 5436:5432
    volumes:
      - ./pg/lancement.sh:/docker-entrypoint-initdb.d/lancement.sh
      - ./pg/scripts:/scripts
      - ./pg/seeds:/seeds
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  maildev:
    image: maildev/maildev:2.1.0
    ports:
      - "1080:1080"
      - "1025:1025"
