volumes:
  postgres-data:
  minio-data:

services:
  postgres:
    image: postgres:15.1
    restart: unless-stopped
    environment:
      - PGTZ=Europe/Paris
      - NODE_ENV=development
      - POSTGRES_USER=${PG_VAO_SUPERUSER}
      - POSTGRES_PASSWORD=${PG_VAO_SUPERPASSWORD}
    env_file:
      - ./.env
    ports:
      - 5436:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./pg/lancement.sh:/docker-entrypoint-initdb.d/lancement.sh
      - ./pg/scripts:/scripts
      - ./pg/seeds:/seeds
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  maildev:
    image: maildev/maildev:2.2.1
    restart: unless-stopped
    ports:
      - "1080:1080"
      - "1025:1025"

  pghero:
    image: ankane/pghero
    restart: unless-stopped
    environment:
      - DATABASE_URL=postgres://${PG_VAO_SUPERUSER}:${PG_VAO_SUPERPASSWORD}@postgres:5432/vao
    ports:
      - "8080:8080"
    depends_on:
      - postgres

  minio:
    image: minio/minio
    restart: unless-stopped
    volumes:
      - minio-data:/data
    ports:
      - "9000:9000" # MinIO api
      - "9001:9001" # MinIO admin console
    environment:
      MINIO_ROOT_USER: ${S3_BUCKET_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${S3_BUCKET_SECRET_KEY}
      MINIO_REGION: ${S3_BUCKET_REGION}
    command: server /data --console-address ":9001"

  create-bucket:
    build:
      context: ./docker/dev-create-bucket
    environment:
      - S3_BUCKET_ACCESS_KEY=${S3_BUCKET_ACCESS_KEY}
      - S3_BUCKET_SECRET_KEY=${S3_BUCKET_SECRET_KEY}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - S3_BUCKET_REGION=us-east-1
    depends_on:
      - minio
