kind: ConfigMap
apiVersion: v1
metadata:
  name: backend
data:
  API_INSEE_URL: "https://api.insee.fr"
  API_INSEE_URI: "/entreprises/sirene/V3.11"
  ANTIVIRUS_URL: "https://antivirus.fabrique.social.gouv.fr/vao/api/v1/scan"
  BACKEND_URL: "https://api-{{ .Values.global.host }}"
  FRONTEND_USAGERS_URL: "https://{{ .Values.global.host }}"
  FRONTEND_BO_URL: "https://bo-{{ .Values.global.host }}"
  SENDER_EMAIL: "nepasrepondre@vao.social.gouv.fr"
  SENTRY_DSN: "https://1c2b442e895c454c847d24182f8b1e90@sentry.fabrique.social.gouv.fr/102"
  SENTRY_ENABLED: "true"
  SENTRY_ENVIRONMENT: staging
  TMP_DIRECTORY: "/tmp"
  BACKEND_CRON_REQUEST_DS8J15J_NOTIFY_CRON: "*/15 * * * *"
