global:
  s3SecretName: vao-prod-app-access-key

backend:
  autoscale:
    enabled: true
  host: api-vao.social.gouv.fr
  redirectFrom:
    - "api-{{ .Values.global.host }}"
  vars:
    S3_BUCKET_ROOT_DIR: prod/files


frontend-usagers:
  autoscale:
    enabled: true
  host: vao.social.gouv.fr
  redirectFrom:
    - "{{ .Values.global.host }}"

frontend-bo:
  autoscale:
    enabled: true
  host: admin-vao.social.gouv.fr
  redirectFrom:
    - "bo-{{ .Values.global.host }}"

jobs:
  runs:
    build-frontend-usagers:
      with:
        buildArgs:
          NUXT_PUBLIC_APP_VERSION: "{{ .Values.global.gitBranch }}"
          NUXT_PUBLIC_BACKEND_URL: "https://api-vao.social.gouv.fr"
          NUXT_PUBLIC_ENVIRONMENT: "production"
          NUXT_PUBLIC_SENTRY_ENABLED: "true"
    build-frontend-bo:
      with:
        buildArgs:
          NUXT_PUBLIC_APP_VERSION: "{{ .Values.global.gitBranch }}"
          NUXT_PUBLIC_BACKEND_URL: "https://api-vao.social.gouv.fr"
          NUXT_PUBLIC_ENVIRONMENT: "production"
          NUXT_PUBLIC_SENTRY_ENABLED: "true"
    build-migrations:
      vars:
        S3_BUCKET_ROOT_DIR: prod/files