maildev: {}

pg:
  backup:
    name: "202407181635" # backup on a new folder

jobs:
  runs:
    build-frontend-usagers:
      with:
        buildArgs:
          NUXT_PUBLIC_APP_VERSION: "{{ .Values.global.gitBranch }}"
          NUXT_PUBLIC_ENVIRONMENT: "preprod"
          NUXT_PUBLIC_SENTRY_ENABLED: "true"
    build-frontend-bo:
      with:
        buildArgs:
          NUXT_PUBLIC_APP_VERSION: "{{ .Values.global.gitBranch }}"
          NUXT_PUBLIC_ENVIRONMENT: "preprod"
          NUXT_PUBLIC_SENTRY_ENABLED: "true"
