.pointer {
  cursor: pointer;
}

.read-only-label {
  color: grey;
}

.read-only-value {
  color: black;
}

.fr-multiselect__collapse {
  z-index: 2!important;
}

.no-background-image {
  background-image: none;
}
