.fr-breadcrumb {
  margin-bottom: 1rem;
}

.fr-fieldset.fr-fieldset--error:disabled .fr-fieldset__legend {
  color: var(--text-default-error);
}

.fr-fieldset:disabled .fr-fieldset__legend {
  color: var(--text-label-grey);
}

.blank-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.fr-multiselect__collapse {
  z-index: 2!important;
}
