.fr-breadcrumb {
  margin-bottom: 1rem;
}

.fr-fieldset.fr-fieldset--error:disabled .fr-fieldset__legend {
  color: var(--text-default-error);
}

.fr-fieldset:disabled .fr-fieldset__legend {
  color: var(--text-label-grey);
}

.blank-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.fr-multiselect__collapse {
  z-index: 2!important;
}

.read-only-label {
  color: grey;
}

.read-only-value {
  color: black;
}

.button--danger:not(:disabled) {
  color: var(--text-action-high-red-marianne);
  box-shadow: inset 0 0 0 1px var(--border-action-high-red-marianne);
}

.button--success:not(:disabled) {
  background-color: #18753c; /* vert Marianne */
  box-shadow: inset 0 0 0 1px #18753c;
}

/* search-adredress overrides  */
.fr-multiselect-adress .multiselect-clear {
  display: none;
  visibility: hidden;
}

.light-decisions-text-text-default-info {
  color: var(--light-decisions-text-text-default-info, #0063CB);
}

/* select months style fix */
.select-months .fr-multiselect {
  padding: .5rem 1rem;
}

.pagination-center .fr-pagination__list {
  justify-content: center;
}