.fr-breadcrumb {
  margin-bottom: 1rem;
}

.fr-fieldset.fr-fieldset--error:disabled .fr-fieldset__legend {
  color: var(--text-default-error);
}

.fr-fieldset:disabled .fr-fieldset__legend {
  color: var(--text-label-grey);
}

.blank-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-align: left;
}

.pointer {
  cursor: pointer;
}

.fr-multiselect__collapse {
  z-index: 2 !important;
}

.read-only-label {
  color: grey;
}

.read-only-value {
  color: black;
}

.button--danger:not(:disabled) {
  color: var(--text-action-high-red-marianne);
  box-shadow: inset 0 0 0 1px var(--border-action-high-red-marianne);
}

.button--success:not(:disabled) {
  background-color: #18753c; /* vert Marianne */
  box-shadow: inset 0 0 0 1px #18753c;
}

/* ============================= */
/* Champs inline et filtres table */
/* ============================= */

/* Harmonisation de tous les champs inline DSFR */
.fr-fieldset__element--inline {
  display: flex;
  align-items: baseline; /* aligne les inputs, selects et datepickers */
  gap: 1rem; /* espace entre champs */
}

/* Spécifique aux barres de filtres du tableau */
.default-table-filters-bar .filters-bar__element {
  display: flex;
  align-items: baseline; /* alignement vertical uniforme */
  gap: 1rem;
}

/* search-adredress overrides  */
.fr-multiselect-adress .multiselect-clear {
  display: none;
  visibility: hidden;
}

.light-decisions-text-text-default-info {
  color: var(--light-decisions-text-text-default-info, #0063cb);
}

/* select months style fix */
.select-months .fr-multiselect {
  padding: 0.5rem 1rem;
}

.pagination-center .fr-pagination__list {
  justify-content: center;
}

.border {
  border-radius: 4px;
  border: 1px solid var(--light-decisions-border-border-default-grey, #ddd);
}
.no-border {
  border: none;
}

.separator {
  border-bottom: 1px solid var(--border-default-grey);
}

/* fix pictogramme dans composant DsfrTile pour éviter que le picto soit coupé en hauteur */
.agrement-bienvenue .fr-tile--download .fr-tile__pictogram,
.agrement-bienvenue .fr-tile--horizontal .fr-tile__pictogram {
  height: auto;
}
/* ajout icon time dans le detail du composant DsfrTile pour agrement-bienvenue */
.agrement-bienvenue .fr-tile__detail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.agrement-bienvenue .fr-tile__detail::before {
  content: "";
  --icon-size: 1.5rem;
  background-color: currentColor;
  display: inline-block;
  flex: 0 0 auto;
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  width: var(--icon-size);
  -webkit-mask-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%20width='24'%20height='24'%3e%3cpath%20d='M12%202c5.523%200%2010%204.477%2010%2010s-4.477%2010-10%2010S2%2017.523%202%2012%206.477%202%2012%202Zm0%202a8%208%200%201%200%200%2016%208%208%200%200%200%200-16Zm1%203v5h4v2h-6V7h2Z'/%3e%3c/svg%3e");
  mask-image: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%20width='24'%20height='24'%3e%3cpath%20d='M12%202c5.523%200%2010%204.477%2010%2010s-4.477%2010-10%2010S2%2017.523%202%2012%206.477%202%2012%202Zm0%202a8%208%200%201%200%200%2016%208%208%200%200%200%200-16Zm1%203v5h4v2h-6V7h2Z'/%3e%3c/svg%3e");
}
