name: Lint, format and test

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  lint-format-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "22.20.0"
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          cache: true
      - name: Install packages
        run: pnpm -w install --frozen-lockfile
      - name: Run the linter
        run: pnpm -w lint:all
      - name: Run backend tests
        run: pnpm -w test:unit:all
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602
        if: ${{ !github.event.pull_request.draft && !contains(github.head_ref || github.ref, 'renovate/') }}
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
